html{
    font-family: arial;
}

#topbar{
    overflow: hidden;
    background-color: #555;
    color: white;
}
#topbar button{
    float:right;
    padding: 8px;
    margin: 4px;
    border-radius: 0px;
    border: 1px;
}

#topbar input{
    float:right;
    margin: 2px;
    padding: 8px;
    outline:none;
}
#topbar input[type=text]:focus{
    border:2px #222 solid;

}
#topbar p{
    float:left;
}
#header{
    margin:4px;
}
h1{
    font-size: 40px;
    margin:8px;
}
h3{
    font-size: 15px;
    margin: 8px;
}
#content{
    border: 1px #444 solid;
    display: inline-block;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
    background-color: #999;
}
#content:hover{
    box-shadow: #111 2px 2px 6px;
}
#content:active{
    box-shadow: none;
}
#topbar a{
    text-decoration:none;
    color:inherit;
    border-right:#111 solid 1px;
    padding:8px;
    float:left;
    margin:3px 0px 3px 0px
}
#topbar a:hover{
    background-color:#999;
    color:black;
    padding:8px;
    margin:3px 0px 3px 0px
}