html{
    font-family: arial;
    overflow:hidden;
    background-color: #fffffe;
}

#topbar{
    overflow: hidden;
    background-color: #555;
    color: white;
}
#topbar button{
    float:right;
    padding: 8px;
    margin: 4px;
    border-radius: 0px;
    border: 1px;
}

#topbar input{
    float:right;
    margin: 2px;
    padding: 8px;
    outline:none;
}
#topbar input[type=text]:focus{
    border:2px #222 solid;

}
#topbar p{
    float:left;
}
#header{
    margin:4px;
    overflow: hidden;
}
#content{
    border: 1px #444 solid;
    display: inline-block;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
    background-color: #999;
}
#content:hover{
    box-shadow: #111 2px 2px 6px;
}
#content:active{
    box-shadow: none;
}
#topbar a{
    text-decoration:none;
    color:inherit;
    border-right:#111 solid 1px;
    padding:8px;
    float:left;
    margin:3px 0px 3px 0px
}
#topbar a:hover{
    background-color:#999;
    color:black;
    padding:8px;
    margin:3px 0px 3px 0px
}
#active {
    background-color:#999;
    color: black;
    padding: 8px;
    margin: 3px 0px 3px 0px;
}
#usericon{
    width:64px;
    border-radius:100%;
    margin: 8px;
    float:left;
}
#title{
    display:inline-block;
    float:left;
}
#logo{
    height:72px;
    margin-right: 32px;
    padding-right: 8px;
    border-right: black solid 2px;
}
#user{
    float:right;
    background-color:#EEE;
    max-height:100px;
    text-decoration:none;
}
#edit{
    float:right;
    font-size: 10px;
    text-decoration: none;
    color: silver;
}
#edit:hover{
    text-decoration: underline;
}

#username{
    color: black;
    float:right;
}
#usericon:hover{
    box-shadow: #444 0px 0px 6px;
}
h2{
    width: 200px;
    float: left;
}
#content p{
    text-indent: 50px;
}
