html{
    font-family: arial;
    overflow:hidden;
    background-color: #fffffe;
}
#topbar{
    overflow: hidden;
    background-color: #555;
    color: white;
    box-shadow: 1px 2px 2px #999;
}
#topbar button{
    float:right;
    padding: 8px;
    margin: 4px;
    border-radius: 0px;
    border: 1px;
}
#topbar input{
    float:right;
    margin: 2px;
    padding: 8px;
    outline:none;
}
#topbar input[type=text]:focus{
    border:2px #222 solid;

}
#topbar p{
    float:left;
}
#header{
    margin:4px;
    overflow: hidden;
}
#recommended{
    border: 1px #444 solid;
    display: grid;
    justify-content: center;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
    background-color: #ebebeb;
    height: 512px;
    text-decoration: none;
    color: black;
}
#recommended:hover{
    box-shadow: #111 2px 2px 6px;
}
#recommended:active{
    box-shadow: none;
}
#barnav{
    text-decoration:none;
    color:inherit;
    border-right:#111 solid 1px;
    padding:8px;
    float:left;
    margin:3px 0px 3px 0px
}
#barnav:hover{
    background-color:#999;
    color:black;
    padding:8px;
    margin:3px 0px 3px 0px
}
#active {
    background-color:#999;
    color: black;
    padding: 8px;
    margin: 3px 0px 3px 0px;
}
#usericon{
    width:64px;
    border-radius:100%;
    margin: 8px;
    float:left;
}
#title{
    float:left;
}
#logo{
    height:72px;
    margin-right: 32px;
    padding-right: 8px;
    border-right: black solid 2px;
}
#user{
    float:right;
    background-color:#EEE;
    max-height:100px;
    text-decoration:none;
    width: 210px;
    padding: 4px;
    box-shadow: 1px 2px 2px #999;
}
#edit{
    float:right;
    font-size: 10px;
    text-decoration: none;
    color: silver;
}
#edit:hover{
    text-decoration: underline;
}
#username{
    color: black;
    margin: none;
}
#usericon:hover{
    box-shadow: #444 0px 0px 6px;
}
h2{
    width: 200px;
    float: left;
}
#recommended p{
    text-align: center;
}
#resultfield {
    padding: 8px;
    border: 1px solid black;
    margin-top: 24px;
    border-radius: 6px;
}
#login {
    float:right;
    background-color:#EEE;
    max-height:100px;
    text-decoration:none;
    font-size: 12px;
    padding: 4px;
    width: 210px;
    box-shadow: 1px 3px 2px #111;
}
#login input{
    border: none;
    max-width: 120px;
    padding: 2px;
    float:right;
    color:silver;
}
#login input:focus{
    border:none;
    outline:2px #bdffdb solid;
}
#login button{
    float:right;
    background-color: #DDD;
    border:#111 1px solid;
}
#content{
    display:grid;
    padding: 0px 256px;
    margin:8px 0px;
    border:silver 1px solid;
    box-shadow: #999 1px 2px 2px;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
}
#user button{
    float:right;
    background-color:#ddd;
    border:#111 1px solid;
}
#author{
    font-size: 12px;
}
#title{
    font-size: 18px;
}
footer{
    background-color:#555;
    color: white;
    margin: 8px;
    padding: 4px;
    box-shadow: 1px 2px 2px #999;
}
#recommended img{
    max-height: 400px;
}
